{% extends 'main.addition.html.twig' %}

{% block title %}Вопрос-ответ{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="blog__wrap clearfix mt--60 xmt-30">
                <ul class="accordion list-style static-indent"
                    style="margin: 0px; padding: 0px 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 12px; line-height: 14px; font-family: Verdana, sans-serif; color: #333333;"
                    data-tags="acc-faq">
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">
                                Каковы условия использования сайта RentArt?</strong></div>
                        <p class="whitesmoke-block first"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Сайт распространяется во всемирной компьютерной сети Интернет и включает в себя информацию, материалы
                            и данные, предоставляемые ООО RentArt и третьими лицами.
                        </p>
                        <p class="whitesmoke-block first"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Пользователем является физическое лицо, зарегистрированное на Сайте, являющееся одной из сторон
                            настоящего Соглашения. Доступ Пользователя к Сайту (то есть ввод Пользователем своего логина и
                            пароля в систему авторизации Сайта и авторизованный вход Пользователя на Сайт) означает, что
                            Пользователь принимает и обязуется соблюдать все нижеприведенные условия настоящего Соглашения.
                        </p>
                        <p class="whitesmoke-block first"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Регистрация или авторизация пользователя для совершения покупок на сайте RentArt является
                            обязательной. Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о
                            себе по вопросам, предлагаемым в форме регистрации, а также поддерживать эту информацию в актуальном
                            состоянии.
                        </p>
                    </li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">
                                Вы
                                доставляете товар только по Гродно?</strong></div>
                        <p class="whitesmoke-block first"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Мы доставляем товар во все города Беларуси.</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Можно
                                забрать покупку самостоятельно?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Конечно. У нас работает пункт самовывоза. При заказе товара обязательно согласуйте с
                            менеджером время, когда вы будете забирать заказ. Оплата товара при самовывозе производится
                            в кассе наличными деньгами или с помощью банковской карточки. После проверки и оплаты
                            покупки Вам выдадут чек и гарантийный талон. Важно! Товар может находиться на других
                            складах, четко уточните у менеджера время и дату поступления товара на основной склад и
                            готовность его для самовывоза. Максимальное время ожидания &ndash; двое суток. Адрес пункта
                            самовывоза: г.Гродно Ожешко 22. Время работы: пн-сб 09.00 - 18.00, вс - выходной.</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Вы
                                работаете по выходным и праздникам?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Мы работаем пн-сб с 9.00 до 18.00, вс - выходной день</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Какие сроки аренды?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Минимальный срок аренды 1 месяц, максимальный срок аренды 1 год, если Вы желаете приобрести товар на более длительный срок, уточните такую возможность у менеджера.</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">До
                                какого времени осуществляется доставка товара?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Доставка товара осуществляется в пн-сб с 09.30 до 18.00</p></li>
                    <li style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; list-style: none; clear: both;">
                        <div class="active"
                             style="margin: 0px; padding: 0px 0px 35px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 14px;">
                            <strong style="margin: 0px; padding: 0px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 18px; line-height: 14px;">Вы
                                принимаете оплату только в белорусских рублях?</strong></div>
                        <p class="whitesmoke-block"
                           style="margin: -20px 0px 0px; padding: 0px 0px 25px; vertical-align: baseline; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; line-height: 24px; clear: both;">
                            Все расчеты осуществляются только в белорусских рублях.</p></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
