{% extends 'admin.html.twig' %}

{% block title %}Редактировать заказ{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1 my-3 text-center">Редактировать заказ</h1>

        {{ include('order/_form.html.twig', {'button_label': 'Обновить'}) }}
        <div class="row text-center mt-3">
            <a href="{{ path('order_index') }}">К списку заказов</a>
{#            {{ include('order/_delete_form.html.twig') }}#}
        </div>
    </div>
{% endblock %}
