{% extends 'admin.html.twig' %}

{% block title %}Добавление новости{% endblock %}

{% block body %}
    <script src="https://cdn.tiny.cloud/1/n0rli8pmt7q76mf3w4dc2rchqzfhili4sjzh8iiwkhvzy2tk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.textarea'
        });
    </script>
<div class="container">
    <h1 class="h1 my-3 text-center">Создать новость</h1>
        {{ include('news/_form.html.twig') }}

    <div class="row text-center mt-3">
        <a href="{{ path('news_index') }}">Назад</a>
    </div>
</div>

    <script src="../../js/jquery-3.5.1.min.js"></script>

    <script>
        $(window).on('load', function () {
            let textArea = $('#news_body');
            let textBody = $('#news_body_ifr');

            console.log(textArea);
            textBody.contents().find('#tinymce').on('keyup change', function() {
                textArea.val(textBody.contents().find('#tinymce').html());
                console.log(textBody.contents().find('#tinymce').html());
            });
        });
    </script>

{% endblock %}

