<form method="post" action="{{ path('address_delete', {'id': address.id}) }}" onsubmit="return confirm('Вы действительно желаете удалить адрес?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
    <div class="row text-center"><button class="btn btn-danger">Удалить</button></div>
</form>
