{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="text-center row">
    <button class="btn btn-success my-3 w-100">{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form) }}
