{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center my-3">
        <button class="btn btn-success">{{ button_label|default('Сохранить') }}</button>
    </div>
{{ form_end(form) }}
